<h2 mat-dialog-title>Nouveau ToDo</h2>
<mat-dialog-content class="mat-typography">
  <form class="example-form">
    <mat-form-field appearance="outline" class="example-full-width">
      <input matInput placeholder="Titre" value="Titre" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
      <textarea matInput placeholder="Description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
      <input type="date" matInput placeholder="Date" value="Date" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
      <input matInput placeholder="Etiquette" value="Etiquette" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Annuler</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Créer</button>
</mat-dialog-actions>
