:host {
  display: flex;
  flex-direction: column; /* row for desktop screen */
  align-items: center;
}
#filterBox {
  margin-top: 10px;
  width: 325px; /* mettre max-width un fois le desktop done */
}
#checkBoxes{
  display: flex;
  flex-direction: column; /* row for desktop screen */
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
  font-family: Roboto;
}
mat-checkbox ::ng-deep .mat-checkbox-inner-container {width: 25px;height: 25px;   margin-left: 30px;
}
