<div id="checkBoxes">
  <mat-checkbox color='primary'>ToDo terminé(s)</mat-checkbox>
  <mat-checkbox color='primary'>ToDo en cours</mat-checkbox>
</div>

<mat-form-field appearance="outline" id="filterBox">
  <mat-label>Trier par étiquette</mat-label>
  <mat-select>
    <mat-option *ngFor="let todo of todos" [value]="todo.value">
      {{ todo.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>
