<!-- <mat-list>
    <mat-list-item class="todos" *ngFor="let folder of folders">
      <mat-checkbox color="primary" mat-line>{{ folder.name }}</mat-checkbox>
      <p mat-line>{{ folder.updated | date }}</p>
      <mat-icon mat-list-icon>delete</mat-icon>
      <mat-icon mat-list-icon>create</mat-icon>
    </mat-list-item>
</mat-list> -->

<mat-selection-list>
  <mat-list-option *ngFor="let todo of todos">
    {{ todo.name }}
    {{ todo.updated | date }}
    <mat-icon mat-list-icon>delete</mat-icon>
    <mat-icon mat-list-icon>create</mat-icon>
    <mat-divider></mat-divider>
  </mat-list-option>
</mat-selection-list>
